.NavBar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 100px;
}

.NavBarItems {
  position: flex;
  flex-direction: row;
}

#Logo {
  height: 24px;
  position: relative;
  top: 20px;
  left: 24px;
}

#Title {
  padding-left: 20px;
  padding-top: 17px;
}

.Links {
  float: right;
  text-align: center;
  padding-right: 20px;
  font-weight: bold;
  position: relative;
  /*bottom: 4px;
  display: flex;
  flex-direction: row;*/
}

.Links:hover {
  cursor: pointer;
}

a.nav {
  padding-bottom: 2px;
  text-decoration-line: none;
  color: #000000;
  margin-left: 24px;
}

a.nav:hover {
  color: #000000;
  border-bottom: solid 4px #C0D860;
}

a.navActive {
  color: #000000;
  border-bottom: solid 4px #003300;
  text-decoration-line: none;
  padding-bottom: 2px;
  margin-left: 24px;
}

a.navOrder {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration-line: none;
  color: #000000;
  margin-left: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  border-radius: 8px;
}

a.navOrder:hover {
  color: #FFFFFF;
  background-color: black;
}

a.navOrderActive {
  color: #000000;
  border-bottom: solid 4px #003300;
  text-decoration-line: none;
  padding-bottom: 2px;
  margin-left: 24px;
}

a.image:hover {
  cursor: pointer;
  box-shadow: 0 0 0px rgba(33,33,33,.4);
}

.SocialButtons {
  margin-right: 40px;
}

.SocialIcons {
  float: right;
  margin-top: -13px;
  width: 44px;
}

.SocialIcons:hover {
  cursor: pointer;
}

body {
  background-color: #f7f7f7;
  font-family: 'OpenSans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 8px;
}

.HeroImage {
  width: 100%;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0 0 1em 0;
}

.wrapper {
  width: 450px;
  border: 2px dotted #999;
}

.Drinks-Content {
  display: flex;
  flex-direction: column;
}

.Our-Top-Drinks-Title {
  align-items: center;
  align-content: center;
  padding-top: 16px;
}

.h1.Our-Top-Drinks-Title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.Top-Drinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.Top-Drink-Item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  width: 100%;
}

.Top-Drink-Item > * {
  flex: 1 1 250px;
  margin: 10px;
}

.Our-Top-Drinks {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Top-Drink-Title {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.Drink-Description {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  text-align: left;
}

.footer {
 bottom: 0;
 background-color: #C0D860;
 color: white;
 padding-top: 40px;
 padding-bottom: 48px;
 padding-left: 10%;
 padding-right: 10%;
 display: flex;
 flex-direction: column;
 margin-top: 40px;
}

.footer-content-1 {
 display: grid;
 grid-template-columns: 100%;
 margin-bottom: 24px;
}

.footer-content-logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.footer-content-2 {
 display: grid;
 grid-template-columns: 33.33% 33.33% 33.33%;
}

.footer-content-left {
 display: flex;
 flex-direction: column;
 text-align: center;
 padding-left: 25%;
 padding-right: 25%;
}

.footer-content-right {
 display: flex;
 flex-direction: column;
 text-align: right;
 padding-left: 25%;
 padding-right: 25%;
}

.footer-header-text {
 font-size: 16px;
 line-height: 24px;
 font-weight: 800;
}

.footer-body-text {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
}

.footer-logo {
  position: relative;
  width: 80px;
  float: right;
}

@media only screen and (max-width: 1010px) {
    .footer-content-left {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 632px) {
    .footer-content-left {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 562px) {
    .footer-content-2 {
        display: flex;
        flex-direction: column;
    }
    .footer-content-left {
        padding-bottom: 16px;
    }
    .footer-content-right {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
  .footer-header-text {
   font-size: 20px;
   line-height: 24px;
   font-weight: 800;
  }

  .footer-body-text {
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
  }

  .footer-logo {
    width: 120px;
  }

}


