.Nav-Bar {
  position: fixed;
  top: -10px;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 80px;
}

#Logo {
  height: 24px;
  position: relative;
  top: 16px;
  left: 24px;
}

#Title {
  padding-left: 20px;
  padding-top: 15px;
}

.Links {
  float: right;
  text-align: center;
  padding-right: 40px;
  font-weight: bold;
  position: relative;
  /*bottom: 4px;
  display: flex;
  flex-direction: row;*/
}

.Links:hover {
  cursor: pointer;
}

/*.SocialIcons {
  padding-top: 16px;
}*/

a.nav {
  padding-bottom: 2px;
  text-decoration-line: none;
  color: #000000;
  margin-left: 24px;
}

a.nav:hover {
  color: #000000;
  border-bottom: solid 4px #C0D860;
}

a.nav.active {
  color: #000000;
  border-bottom: solid 4px #003300;
}


a.image:hover {
  cursor: pointer;
  box-shadow: 0 0 0px rgba(33,33,33,.4);
}

body {
  background-color: #f7f7f7;
  color: white;
  font-family: 'OpenSans', sans-serif;
  min-width: 600px;
  margin: 0px;
  padding: 0px;
}


h1 {
  font-size: 24px; /* originally 32, 48*/
  line-height: 36px;
  float: left;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 24px;
  float: left;
  font-weight: 600;
  color: #000000;
  text-align: left;
  margin: 0px 16px 16px 16px;
}


#Hero {
  width: 100%;
  position: relative;
}

.Hero-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
}

#Hero-Caption {
  font-weight: bold;
  color: white;
  font-size: 64px;
  text-align: left;
  padding-top: -100px;
}

.HeroText {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.button {
  background-color: #C0D860; /* Bamboo */
  opacity: 100%;
  border-radius: 8px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.button:hover {
  cursor: pointer;
  background-color: #FFFFFF; /* Bamboo */
  opacity: 100%;
  outline: 2px #C0D860;
  border-radius: 8px;
  color: #C0D860;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.column {
  float: left;
  width: 20%;
  padding: 24px;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.DAA-Content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
  max-width: 1440px;
  padding-bottom: 40px;
}

#DAA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 1440px;
  margin-top: -40px;
}

.DAA {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 16px 32px 16px;
  border-radius: 16px;
}

.DAA-Images-1 {
  height: 100%;
  width: 100%;
}

.DAA-Images-2 {
  height: 100%;
  width: 100%;
}

.DAA-Images-3 {
  height: 100%;
  width: 100%;
}

.DAA-Images-1:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(33,33,33,.4);
}

.DAA-Images-2:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(33,33,33,.4);
}

.DAA-Images-3:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(33,33,33,.4);
}

.Drinks-Content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  padding-bottom: 40px;
}

.Our-Top-Drinks-Title {
  align-items: left;
  position: relative;
  right: 396px; /* this is what i added to make the title left aligned*/
  margin-top: -56px;
}

#Our-Top-Drinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 1440px;
  margin-top: -40px;
}

.Our-Top-Drinks {
  height: 217px;
  width: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 16px 32px 16px;
  background-color: white;
  border-radius: 8px;
}

.Our-Top-Drinks-Images {
  height: 80%;
  width: 60%;
}

.Our-Top-Drinks:hover {
  cursor: pointer;
  box-shadow: 0 0 32px rgba(33,33,33,.08);
}

.footer {
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #C0D860;
 color: white;
 /*padding-left: 160px; removed this because padding causes the width to largen*/
 padding-top: 24px;
 padding-bottom: 24px;
}

.footer-content {
 display: flex;
 flex-direction: row;
 text-align: left;
 margin-left: 160px;
}

.footer-content-column {
 display: flex;
 flex-direction: column;
 margin-right: 134px;
}

.footer-header-text {
 font-size: 16px;
 line-height: 24px;
 font-weight: 700;
}

.footer-body-text {
 font-size: 12px;
 line-height: 16px;
 font-weight: 400;
}

.footer-logo {
  position: relative;
  margin-top: -20px;
  margin-left: 384px;
  margin-bottom: -20px;
}

