html {
    font-size: 62.5%;
    font-family: 'OpenSans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #E2E8F0;
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#Logo {
    height: 32px;
    margin: 8px;
}

@media only screen and (max-width: 978px) {
    #Logo {
        height: 24px;
    }
    a.Logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 480px) {
    #Logo {
        height: 44px;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 978px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
        width: 100%;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 480px) {
  .nav-menu {
    position: fixed;
    top: 7rem;
  }
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 16px; /*was 1.6rem*/
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.nav-link:hover{
  color: #000000;
  border-bottom: solid 4px #C0D860;
}

@media only screen and (max-width: 480px) {
  .nav-link {
    font-size: 20px;
    line-height: 24px;
  }
}

.nav-link-order {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration-line: none;
  color: #000000;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  border-radius: 8px;
}

.nav-link-order:hover {
  color: #FFFFFF;
  background-color: black;
}

.nav-link-orderActive {
  color: #000000;
  border-bottom: solid 4px #003300;
  text-decoration-line: none;
  padding-bottom: 2px;
  margin-left: 24px;
}

.SocialIcons {
  float: right;
  width: 44px;
}

.SocialIcons:hover {
  cursor: pointer;
}

@media only screen and (max-width: 978px) {
    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-link {
        font-weight: 600;
    }

    .SocialIcons {
      float: right;
      margin-top: -13px;
      width: 44px;
    }

    .SocialIcons:hover {
      cursor: pointer;
    }
}

a.image:hover {
  cursor: pointer;
  box-shadow: 0 0 0px rgba(33,33,33,.4);
}

body {
  background-color: #f7f7f7;
  font-family: 'OpenSans', sans-serif;
  /*min-width: 600px;*/
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 480px) {
  body {
    background-color: #FFFFFD;
  }
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  color: #000000;
  text-align: center;
}

@media only screen and (max-width: 978px) {
    h1 {
      font-size: 24px;
      line-height: 32px;
    }
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 8px;
}

.HeroImage {
  width: 100%;
  /*min-width: 375px;*/
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 20px;
    line-height: 30px;
  }
}

b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0 0 1em 0;
}

.wrapper {
  width: 450px;
  border: 2px dotted #999;
}

.Entire-DMA-Content-Including-Padding {
  margin-top: 24px;
}

.DMA {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .DMA {
    border-radius: 0px;
  }
}

.DMA:hover {
  cursor: pointer;
}

.DMA-Images {
  width: 100%;
}

.DMA-Images:hover {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(33,33,33,.4);
}

@media only screen and (max-width: 480px) {
  .DMA-Images:hover {
    border-radius: 0px;
  }
}

.DMA-Content {
  display: flex;
  flex-direction: column;
}

.Drinks-Content {
  display: flex;
  flex-direction: column;
}

.Our-Top-Drinks-Title {
  align-items: center;
  align-content: center;
  padding-top: 16px;
}

h1.Our-Top-Drinks-Title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.Top-Drinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (max-width: 1030px) {
    .Top-Drinks {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 978px) {
    .Top-Drinks {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .Top-Drinks {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
    }
}

.Top-Drink-Item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  width: 100%;
}

.Top-Drink-Item > * {
  flex: 1 1 250px;
  margin: 10px;
}

@media only screen and (max-width: 480px) {
    .Top-Drink-Item > * {
        margin: 0px;
    }
}

.Our-Top-Drinks {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 480px) {
    .Our-Top-Drinks {
        border-radius: 0px;
    }
}

.Top-Drink-Title {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.footer {
 bottom: 0;
 background-color: #C0D860;
 color: white;
 padding-top: 40px;
 padding-bottom: 48px;
 padding-left: 10%;
 padding-right: 10%;
 display: flex;
 flex-direction: column;
 margin-top: 40px;
}

.footer-content-1 {
 display: grid;
 grid-template-columns: 100%;
 margin-bottom: 24px;
}

.footer-content-logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.footer-content-2 {
 display: grid;
 grid-template-columns: 33.33% 33.33% 33.33%;
}

.footer-content-left {
 display: flex;
 flex-direction: column;
 text-align: center;
 padding-left: 25%;
 padding-right: 25%;
}

.footer-content-right {
 display: flex;
 flex-direction: column;
 text-align: right;
 padding-left: 25%;
 padding-right: 25%;
}

.footer-header-text {
 font-size: 16px;
 line-height: 24px;
 font-weight: 800;
}

.footer-body-text {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
}

.footer-logo {
  position: relative;
  width: 80px;
  float: right;
}

@media only screen and (max-width: 1010px) {
    .footer-content-left {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 632px) {
    .footer-content-left {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 562px) {
    .footer-content-2 {
        display: flex;
        flex-direction: column;
    }
    .footer-content-left {
        padding-bottom: 16px;
    }
    .footer-content-right {
        text-align: center;
    }
}

.image-full{
   display:block;
  }

 .image-mobile{
  display:none;
 }

@media only screen and (max-width: 480px) {
  .footer-header-text {
   font-size: 20px;
   line-height: 24px;
   font-weight: 800;
  }

  .footer-body-text {
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
  }

  .footer-logo {
    width: 120px;
  }

  .image-full {
   display:none;
  }

  .image-mobile {
   display:block;
  }

}






